@charset "UTF-8";
body {
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
  background: #dccee8;
  background: linear-gradient(90deg, #dccee8 0%, #f5ecec 50%, #dccee8 100%);
  color: #1d1028;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: burlywood;
}

.fa-star {
  color: gold;
}

#indexMain {
  margin-top: 6%;
}

main {
  margin-top: 8%;
}

/* NAVBAR */
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand img {
  width: 46px;
  height: 46px;
  text-align: left;
  margin-bottom: 10px;
}

/*FOOTER*/
footer {
  word-spacing: 10px;
  font-family: "Nunito";
  text-align: center;
  background-color: #060713;
  color: white;
}

.encabezadoFooter {
  margin-top: 20px;
}

.fa-linkedin {
  color: white;
}
.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-github {
  color: white;
}
.fa-github:hover {
  color: #6cc644;
}

.fa-instagram {
  color: white;
}
.fa-instagram:hover {
  color: #c13584;
}

.fa-youtube {
  color: white;
}
.fa-youtube:hover {
  color: red;
}

.fa-facebook-f {
  color: white;
}
.fa-facebook-f:hover {
  color: blue;
}

.fa-twitter {
  color: white;
}
.fa-twitter:hover {
  color: #00acee;
}

.fa-google-plus-g {
  color: white;
}
.fa-google-plus-g:hover {
  color: orange;
}

i {
  padding-right: 10px;
}

#footerDos ul li {
  list-style: none;
}

#footerTres ul li {
  list-style: none;
}
#footerTres ul li a i {
  font-size: 2rem;
}

.derechosReservados {
  margin: 0;
}

/* INDEX */
/* CAROUSEL */
.carousel-item img {
  height: 90vh;
  width: 100vh;
}

.carousel-caption h1 {
  font-size: 10vh;
}
.carousel-caption p {
  font-size: 4vh;
}

/* items redondos */
.contenidoIndex {
  margin-top: 15px;
}

.fotoRedonda {
  display: flex;
  justify-content: center;
  padding-right: 50px;
}
.fotoRedonda .itemFotoUno {
  height: 140px;
  width: 140px;
}
.fotoRedonda .itemFotoDos {
  height: 140px;
  width: 140px;
}
.fotoRedonda .itemFotoTres {
  height: 140px;
  width: 140px;
}

/* cartas animadas */
.textoDestacado, .seccionEquipo, #nosotros article .encabezadoNosotros, .seccionOpiniones {
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero-section {
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: 24px 24px;
  padding-top: 8px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 1200px;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card {
  list-style: none;
  position: relative;
  background: none;
  border: none;
}
.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.cartaUno {
  background-image: url(../assets/img/argentina.jpg);
}

.cartaDos {
  background-image: url(../assets/img/fotofrancia.jpg);
}

.cartaTres {
  background-image: url(../assets/img/machupichu.jpg);
}

.cartaCuatro {
  background-image: url(../assets/img/qatar.jpg);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;
}

.card__category {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.card__heading {
  color: white;
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/*RECOMENDACIONES INDEX*/
.promociones {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recoViajes {
  border: 1px solid #c8c7c7;
}
.recoViajes .row .col-sm {
  padding-left: 0px;
}
.recoViajes .row .col-sm a {
  display: block;
  position: relative;
  overflow: hidden;
}
.recoViajes .row .col-sm a .fotoReco {
  height: 366px;
  width: 600px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.recoViajes .row .col-sm a .fotoReco:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.reviews span .fa-star {
  color: gold;
}
.reviews span .fa-star-half {
  color: gold;
}
.reviews a {
  color: gray;
}
.reviews a:hover {
  color: burlywood;
}

.datosPromo h2 {
  color: black;
}
.datosPromo h2:hover {
  color: burlywood;
}
.datosPromo .descripcion {
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fluid {
  display: flex;
  justify-content: center;
}
.container-fluid button {
  border: 2px solid black;
  font-size: 1.2rem;
}
.container-fluid button:hover {
  background-color: burlywood;
  color: black;
}

/*NEWSLETTER INDEX*/
.newsletter {
  background-image: url(../assets/img/newsletter.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  height: 400px;
  margin-bottom: 8px;
}
.newsletter div {
  display: flex;
  justify-content: center;
}
.newsletter .newsEncabezado {
  padding-top: 10%;
}
.newsletter .newsEncabezado h1 {
  font-weight: bold;
  font-size: 3rem;
}
.newsletter .newsP {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.4rem;
}
.newsletter .formularioSuscripcion form .form-group input {
  background: rgba(255, 255, 255, 0.3);
  border: 0px;
  color: white;
}
.newsletter .formularioSuscripcion form .form-group input::placeholder {
  color: white;
  opacity: 1;
  font-weight: bold;
  text-align: center;
}
.newsletter .formularioSuscripcion form .form-group button {
  margin-left: 10%;
  background-color: burlywood;
  font-weight: bold;
}

/* SECCIÓN DE OPINIONES */
.seccionOpiniones {
  margin-bottom: 8%;
}

.testimonios {
  width: 18rem;
  background: white;
  margin-bottom: 10%;
  border: 1px solid burlywood;
}
.testimonios .card-body {
  padding-top: 0;
  height: 220px;
}
.testimonios .card-body h4 {
  text-align: center;
  font-weight: bold;
}
.testimonios .card-body p {
  text-align: center;
}
.testimonios .imagenTestimonio {
  display: flex;
  justify-content: center;
}
.testimonios .imagenTestimonio .avatar {
  border: 1px solid burlywood;
  margin-top: -6rem;
  max-width: 9rem;
  height: 144px;
}

/* NOSOTROS */
#nosotros {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-family: "Nunito";
}
#nosotros article .encabezadoNosotros {
  margin-bottom: 25px;
  font-weight: bolder;
}
#nosotros article p {
  font-size: 3vh;
}

/* NOSOTROS - SERVICIOS */
.servicios {
  margin-bottom: 32px;
}
.servicios .container .row .itemServicio {
  border: 1px solid #c8c7c7;
  margin-right: 16px;
  background: #f8f8f8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.servicios .container .row .itemServicio:hover {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
  cursor: pointer;
  border-radius: 5px;
}
.servicios .container .row .itemServicio h2 {
  text-align: center;
  padding-top: 8px;
}
.servicios .container .row .itemServicio i {
  color: burlywood;
}

/* NOSOTROS - EQUIPO */
.seccionEquipo {
  margin-bottom: 8%;
}

.itemsEquipo {
  width: 18rem;
  height: 290px;
  background-image: url(../assets/img/fondoItemsEquipo.jpg);
  background-position: center;
  margin-bottom: 10%;
  border: 1px solid burlywood;
}
.itemsEquipo .card-body {
  padding-top: 16px;
}
.itemsEquipo .card-body h4 {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}
.itemsEquipo .card-body p {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.itemsEquipo .imgEquipo {
  display: flex;
  justify-content: center;
}
.itemsEquipo .imgEquipo .avatar {
  border: 1px solid burlywood;
  margin-top: -6rem;
  max-width: 18rem;
  height: 244px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.itemsEquipo .imgEquipo .avatar:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/* PAQUETES */
.itemsPaquetes {
  margin: 24px 24px;
}

.itemCuadrado {
  height: 600px;
  width: 620px;
  border: 1px solid white;
}

.lineaDivisora {
  font-size: 0;
  line-height: 0;
  height: 1px;
  width: 100%;
  background: #c2bcbc;
}

.size-30 {
  margin: 30px 0;
}

.paquete {
  margin-top: 24px;
  margin-bottom: 24px;
}
.paquete p {
  color: #868686;
}
.paquete div p {
  color: black;
  font-size: 1.3rem;
}
.paquete div p span {
  color: #868686;
}
.paquete div p span .fa-brands {
  font-size: 25px;
  margin-left: 8px;
  -webkit-text-stroke: 1px black;
}

.shareOption {
  font-size: 25px;
  font-weight: bolder;
}

/* FAQ */
.encabezadoFaq {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.accordion {
  margin-bottom: 16px;
}

.accordion-button {
  color: #060713;
  font-size: 1.5rem;
}
.accordion-button:hover {
  color: gray;
}
.accordion-button:not(.collapsed) {
  color: burlywood;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/*contacto*/
.contact-form {
  color: black;
}

.contact {
  padding: 32px;
}
.contact .row .backgroundContacto {
  background-image: url(../assets/img/itemcuadradotres.jpg);
  background-size: cover;
  background-position: center;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.col-sm-2 {
  width: 40%;
}

.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h1 {
  color: white;
}
.contact-info h2 {
  margin-bottom: 10%;
  color: white;
}

.formularioContacto {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.formularioContacto .contact-form label {
  font-weight: 600;
}
.formularioContacto .contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
  margin-top: 10px;
}
.formularioContacto .contact-form button:focus {
  box-shadow: none;
}
.formularioContacto .contact-form button:hover {
  color: burlywood;
}

/* MEDIA QUERY - SMARTPHONE*/
@media (max-width: 480px) {
  main {
    margin-top: 18%;
  }

  .navbar-nav {
    text-align: center;
  }

  .contenidoIndex {
    text-align: center;
    margin-top: 10px;
  }

  .carousel-caption h1 {
    font-size: 2.5rem;
  }
  .carousel-caption p {
    font-size: 1.2rem;
  }

  .fotoRedonda .itemFotoUno {
    height: 140px;
    width: 140px;
    margin-left: 32px;
  }
  .fotoRedonda .itemFotoDos {
    height: 140px;
    width: 140px;
    margin-left: 32px;
  }
  .fotoRedonda .itemFotoTres {
    height: 140px;
    width: 140px;
    margin-left: 32px;
  }

  .recoViajes .row .col-sm {
    padding: 0;
  }

  .botonIndex {
    margin-bottom: 16px;
  }

  .newsletter {
    background-size: cover;
    margin-bottom: 5%;
  }

  .seccionOpiniones {
    margin-bottom: 25%;
  }

  .testimonios {
    width: auto;
    margin-bottom: 25%;
  }
  .testimonios .card-body p {
    font-size: 1.3rem;
  }

  .card__heading {
    color: white;
    font-size: 2.5rem;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
    text-align: left;
  }

  .itemsPaquetes {
    margin-left: 0;
    margin-right: 0;
  }

  .itemCuadrado {
    height: 326px;
    width: 440px;
    border: 1px solid white;
  }

  .paquete h1 {
    text-align: center;
  }

  .servicios {
    padding: 24px;
    margin-bottom: 0;
  }
  .servicios .container .row .itemServicio {
    margin-bottom: 24px;
  }

  .seccionEquipo {
    margin-bottom: 25%;
  }

  .itemsEquipo {
    width: auto;
    margin-bottom: 28%;
  }
}
/* TABLET */
@media (min-width: 481px) and (max-width: 1023px) {
  main {
    margin-top: 18%;
  }

  .navbar-nav {
    text-align: center;
  }

  .contenidoIndex {
    text-align: center;
    margin-top: 10px;
  }

  .carousel-caption h1 {
    font-size: 2.5rem;
  }
  .carousel-caption p {
    font-size: 1.2rem;
  }

  .fotoRedonda .itemFotoUno {
    height: 140px;
    width: 140px;
    margin-left: 32px;
  }
  .fotoRedonda .itemFotoDos {
    height: 140px;
    width: 140px;
    margin-left: 32px;
  }
  .fotoRedonda .itemFotoTres {
    height: 140px;
    width: 140px;
    margin-left: 32px;
  }

  .recoViajes .row .col-sm {
    padding: 0;
  }

  .botonIndex {
    margin-bottom: 16px;
  }

  .newsletter {
    background-size: cover;
    margin-bottom: 5%;
  }

  .seccionOpiniones {
    margin-bottom: 25%;
  }

  .testimonios {
    width: auto;
    margin-bottom: 25%;
  }
  .testimonios .card-body p {
    font-size: 1.3rem;
  }

  .card__heading {
    color: white;
    font-size: 2.5rem;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
    text-align: left;
  }

  .itemsPaquetes {
    margin-left: 0;
    margin-right: 0;
  }

  .itemCuadrado {
    height: 326px;
    width: 440px;
    border: 1px solid white;
  }

  .paquete h1 {
    text-align: center;
  }

  .servicios {
    padding: 24px;
    margin-bottom: 0;
  }
  .servicios .container .row .itemServicio {
    margin-bottom: 24px;
  }

  .seccionEquipo {
    margin-bottom: 25%;
  }

  .itemsEquipo {
    width: auto;
    margin-bottom: 28%;
  }
}
/* CARTAS INDEX */
@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=estilo.css.map */
