/* EXTEND DESAFIO */
.itemRedondoPrueba{
    height: 100px;
    width: 350px;
    border: 2px solid blue;
    font-family: 'Courier New', Courier, monospace;
    margin: 2px;
    color: white;
}

.itemRedondoPruebaDos{
    @extend .itemRedondoPrueba;
    color: yellow;
}

