body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    background: rgb(220,206,232);
    background: linear-gradient(90deg, rgba(220,206,232,1) 0%, rgba(245,236,236,1) 50%, rgba(220,206,232,1) 100%);
    color: #1d1028;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
    &:hover{
        color: $colorCremita;
    }
}
.fa-star{
    color: gold;
}

#indexMain{
    margin-top: 6%;
}
main{
    margin-top: 8%;
}

/* NAVBAR */
.navbar-brand{
    display: flex;
    align-items: center;
        img{
            width: 46px;
            height: 46px;
            text-align: left;
            margin-bottom: 10px;
        }
    }
/*FOOTER*/
footer {
    word-spacing: 10px;
    font-family: 'Nunito';
    text-align: center;
    background-color: #060713;
    color: white;
}
.encabezadoFooter{
        margin-top: 20px;
}

//MAPS
$redes:(
    linkedin: #0e76a8,
    github: #6cc644,
    instagram: #c13584,
    youtube: red,
    facebook-f:blue,
    twitter:#00acee,
    google-plus-g:orange,
);

@each $red, $color in $redes{
    .fa-#{$red}{
        color: white;
        &:hover{
            color: $color;
        }
    }
}

i{
    padding-right: 10px;
}

#footerDos{
    ul{
        li{
            list-style: none;
        }
    }
}
#footerTres{
    ul{
        li{
            list-style: none;
            a{
                i{
                    font-size: 2rem;
                }
            }
        }
    }
}
.derechosReservados{
    margin: 0;
}
