/* MEDIA QUERY - SMARTPHONE*/

@media (max-width: 480px) {
    main{
      margin-top: 25%;
    }
    .navbar-nav{
    text-align: center;
    }
    .contenidoIndex{
        text-align: center;
        margin-top: 10px;
    }

    .carousel-item img{
      height:65vh;
      width: 100vh;
      }
    .carousel-caption{
      h1{
        font-size: 2.5rem;
      }
      p{
        font-size: 1.2rem;
      }
    }
    .fotoRedonda{
      .itemFotoUno{
        @include indexSizes (140px, 140px);
        margin-left: $xlarge;
      }
      .itemFotoDos{
        @include indexSizes (140px, 140px);
        margin-left: $xlarge;
      }
      .itemFotoTres{
        @include indexSizes (140px, 140px);
        margin-left: $xlarge;
      }
    }
    .recoViajes{
      .row{
        .col-sm{
          padding: 0;
        }
      }
    }
    .botonIndex{
      margin-bottom: $medium;
    }

    .newsletter{
      background-size: cover;
      margin-bottom: 5%;
    }
    
    .seccionOpiniones{
      margin-bottom: 25%;
    }
    .testimonios{
      width: auto;
      margin-bottom: 25%;
      .card-body{
        p{
          font-size: 1.3rem;
        }
      }
    }
    
    .card__heading {
        color: white;
        font-size: 2.5rem;
        text-shadow: 4px 4px 20px rgb(0 0 0 / 20%);
        line-height: 1.4;
        word-spacing: 100vw;
        text-align: left;
      }
    .itemsPaquetes{
        margin-left: 0;
        margin-right: 0;
    }
    .itemCuadrado{
      height: 326px;
      width: 370px;
      border: 1px solid white;
    }
    .paquete{
      h1{
        text-align: center;
      }
    }
    .servicios{
      padding: $large;
      margin-bottom: 0;
      .container{
        .row{
          .itemServicio{
            margin-bottom: $large;
          }
        }
      }
    }
    
    .seccionEquipo{
      margin-bottom: 25%;
    }
    .itemsEquipo{
      width: auto;
      margin-bottom: 28%;
    }

}
/* TABLET */
@media (min-width: 481px) and (max-width: 1023px){
    main{
      margin-top: 15%;
    }
    .navbar-nav{
        text-align: center;
        }
    .contenidoIndex{
        text-align: center;
        margin-top: 10px;
    }
    .carousel-item img{
      height:60vh;
      width: 100vh;
      }
    .carousel-caption{
      h1{
        font-size: 2.5rem;
      }
      p{
        font-size: 1.2rem;
      }
    }
    .fotoRedonda{
      .itemFotoUno{
        @include indexSizes (140px, 140px);
        margin-left: $xlarge;
      }
      .itemFotoDos{
        @include indexSizes (140px, 140px);
        margin-left: $xlarge;
      }
      .itemFotoTres{
        @include indexSizes (140px, 140px);
        margin-left: $xlarge;
      }
    }
    .recoViajes{
      .row{
        .col-sm{
          padding: 0;
        }
      }
    }
    .botonIndex{
      margin-bottom: $medium;
    }

    .newsletter{
      background-size: cover;
      margin-bottom: 5%;
    }
    
    .seccionOpiniones{
      margin-bottom: 15%;
    }
    .testimonios{
      width: auto;
      margin-bottom: 25%;
      .card-body{
        p{
          font-size: 1.3rem;
          height: auto;
        }
      }
    }

    .card__heading {
        color: white;
        font-size: 2.5rem;
        text-shadow: 4px 4px 20px rgb(0 0 0 / 20%);
        line-height: 1.4;
        word-spacing: 100vw;
        text-align: left;
    }
    .itemsPaquetes{
      margin-left: 0;
      margin-right: 0;
    }
    .itemCuadrado{
      height: 326px;
      width: 400px;
      border: 1px solid white;
      margin-top: 35%;
    }
    .paquete{
      h1{
        text-align: center;
      }
    }
    .servicios{
      padding: $large;
      margin-bottom: 0;
      .container{
        .row{
          .itemServicio{
            margin-bottom: $large;
          }
        }
      }
    }

    .seccionEquipo{
      margin-bottom: 25%;
    }
    .itemsEquipo{
      width: auto;
      margin-bottom: 28%;
    }
}

/* CARTAS INDEX */
@media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
@media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
