// VARIABLES
$itemRedondo: 140px;
$textColor1:rgba(255,255,255,0.6);
$textColor2:rgba(255,255,255,0.9);
$small: 8px;
$medium: 16px;
$large: 24px;
$xlarge: 32px;
$xxlarge: 64px;
$anchoContainer: 1200px;
$colorCremita: burlywood;



